.card-info
  button.card-info__close.modal-close(type="button" aria-label="Закрыть карточку" data-remodal-action="close")
    +icon('close-modal')
  h1.card-info__name Яков Зорянкин
  .card-info__wrap
    .card-info__header
      .card-info__price.card-info__price--red
        span.card-info__price-num 2000
          i.rouble-icon
        span.card-info__legend стоимость съемок от 3&nbsp;часов
      .card-info__price
        span.card-info__price-num 1000
          i.rouble-icon
        span.card-info__legend стоимость съемок 1&nbsp;часа 
      .card-info__expirience
        span.card-info__legend Опыт 
        span.card-info__expirience-value 5 лет
    .card-info__params
      .card-info__params-block
        span.card-info__params-value 25
        span.card-info__legend возраст
      .card-info__params-block
        span.card-info__params-value 178
        span.card-info__legend Рост
      .card-info__params-block
        span.card-info__params-value XS-S
        span.card-info__legend размер одежды
      .card-info__params-block
        span.card-info__params-value 40
        span.card-info__legend размер обуви
    .card-info__readiness
      span.card-info__legend Готовность к съемкам
      .card-info__readiness-wrap
        .card-info__readiness-view
          .card-info__readiness-row
            span.card-info__readiness-name в белье
            span.card-info__readiness-perc +20%
          .card-info__readiness-row
            span.card-info__readiness-name в купальнике
            span.card-info__readiness-perc +30%
          .card-info__readiness-row
            span.card-info__readiness-name товары для взрослых
            span.card-info__readiness-perc +20%
          .card-info__readiness-row
            span.card-info__readiness-name товары для беременных
            span.card-info__readiness-perc +20%
        .card-info__readiness-params
          .card-info__readiness-row
            span.card-info__legend Обхват груди
            span.card-info__readiness-value 89
          .card-info__readiness-row
            span.card-info__legend Обхват талии
            span.card-info__readiness-value 61
          .card-info__readiness-row
            span.card-info__legend Обхват бедер
            span.card-info__readiness-value 92
  .card-info__actions
    a.btn.card-info__btn(href="#") Заказать фотосессию
    button.card-info__next.card-info__legend(type="button" data-remodal-target="next_name_slug") Перейти к следующей модели