.card-views
  .card-views__thumbs
    .card-views__thumbs-slider
      .card-views__thumbs-slide(style="background-image: url('app/img/content/card-thumb.jpg');")
      .card-views__thumbs-slide(style="background-image: url('app/img/content/card-thumb.jpg');")
      .card-views__thumbs-slide(style="background-image: url('app/img/content/card-thumb.jpg');")
      .card-views__thumbs-slide(style="background-image: url('app/img/content/card-thumb.jpg');")
      .card-views__thumbs-slide(style="background-image: url('app/img/content/card-thumb.jpg');")
      .card-views__thumbs-slide(style="background-image: url('app/img/content/card-thumb.jpg');")
      .card-views__thumbs-slide(style="background-image: url('app/img/content/card-thumb.jpg');")
    button.card-views__thumbs-video.video(type="button" aria-label="Включить видео ИМЯ")
      +icon('play')
      span Видео
    button.card-views__thumbs-video.photo.hide(type="button" aria-label="Включить фото ИМЯ")
      +icon('photo')
      span Фото
  .card-views__display
    span.card-views__display-text агентство: kestudio
    button.card-views__display-arrow.prev(type="button" aria-label="Предыдущее фото")
      +icon('arrow-left')
    button.card-views__display-arrow.next(type="button" aria-label="Следующее фото")
      +icon('arrow-right')
    .card-views__display-slider
      .card-views__display-slide(style="background-image: url('app/img/content/card.jpg');")
      .card-views__display-slide(style="background-image: url('app/img/content/card.jpg');")
      .card-views__display-slide(style="background-image: url('app/img/content/card.jpg');")
      .card-views__display-slide(style="background-image: url('app/img/content/card.jpg');")
      .card-views__display-slide(style="background-image: url('app/img/content/card.jpg');")
      .card-views__display-slide(style="background-image: url('app/img/content/card.jpg');")
      .card-views__display-slide(style="background-image: url('app/img/content/card.jpg');")
    .card-views__display-video
      video(data-video="app/img/content/videoplayback.mp4" controls)