.card-views
  .card-views__thumbs
    .card-views__thumbs-slider
      .card-views__thumbs-slide
        img(src="app/img/content/card-thumb.jpg" alt="Предпросмотр ИМЯ 1")
      .card-views__thumbs-slide
        img(src="app/img/content/card-thumb.jpg" alt="Предпросмотр ИМЯ 2")
      .card-views__thumbs-slide
        img(src="app/img/content/card-thumb.jpg" alt="Предпросмотр ИМЯ 3")
      .card-views__thumbs-slide
        img(src="app/img/content/card-thumb.jpg" alt="Предпросмотр ИМЯ 4")
      .card-views__thumbs-slide
        img(src="app/img/content/card-thumb.jpg" alt="Предпросмотр ИМЯ 5")
    button.card-views__thumbs-video(type="button" aria-label="Включить видео ИМЯ")
      +icon('play')
  .card-views__display
    button.card-views__display-arrow.prev(type="button" aria-label="Предыдущее фото")
      +icon('arrow-left')
    button.card-views__display-arrow.next(type="button" aria-label="Следующее фото")
      +icon('arrow-right')
    .card-views__display-slider
      .card-views__display-slide
        img(src="app/img/content/card.jpg" alt="Просмотр ИМЯ 1")
      .card-views__display-slide
        img(src="app/img/content/card.jpg" alt="Просмотр ИМЯ 2")
      .card-views__display-slide
        img(src="app/img/content/card.jpg" alt="Просмотр ИМЯ 3")
      .card-views__display-slide
        img(src="app/img/content/card.jpg" alt="Просмотр ИМЯ 4")
      .card-views__display-slide
        img(src="app/img/content/card.jpg" alt="Просмотр ИМЯ 5")