.contact-modal.remodal(data-remodal-id="contact-modal")
  button.modal-close(type="button" aria-label="Закрыть карточку" data-remodal-action="close")
    +icon('close-modal')
  .contact-modal__wrap
    .contact-modal__info
      span.contact-modal__info-legend Мы располагаемся по адресу:
      h1.contact-modal__info-title.contact-modal__info-title--address г. Иннополис, ул. Спортивная, д. 104
      span.contact-modal__info-legend по всем вопросам
      h2.contact-modal__info-title.contact-modal__info-title--telegramm telegram: @KE_studio
      a.btn.btn--dark.contact-modal__info-btn(href="#")
        span перейти в телеграмм
    .contact-modal__map