.form-select.select-field(data-placeholder="Размер одежды")
  button.select-field__close(type="button" aria-label="Очистить селект")
    +icon('close')
  button.select-field__reset.range-field__reset(type="button") сброс
  span.select-field__active Размер одежды
  ul.select-field__list
    li.select-field__item XXS
    li.select-field__item XS
    li.select-field__item S
    li.select-field__item M
    li.select-field__item L
    li.select-field__item XL