nav.menu
  //- scroll in index to section
  a.menu__link(href="#") О студии
  //- scroll in index to section
  a.menu__link(href="#") Услуги
  //- link
  a.menu__link.active(href="catalog.html") Модели
  //- link
  a.menu__link(href="become.html") Стать моделью
  //- link
  a.menu__link(href="payment.html") Оплата
  //- open popup
  a.menu__link(href="#") Контакты