nav.menu
  a.menu__link(href="#") О студии
  a.menu__link(href="#") Услуги
  a.menu__link.active(href="#") Модели
  a.menu__link(href="#") Стать моделью
  a.menu__link(href="#") Оплата
  a.menu__link(href="#") Контакты