nav.menu
  a.menu__link.js-scroll-to(href="#about") О студии
  a.menu__link.js-scroll-to(href="#services") Услуги
  a.menu__link.active(href="catalog.html") Модели
  a.menu__link(href="become.html") Стать моделью
  a.menu__link(href="payment.html") Оплата
  button.menu__link(type="button" data-remodal-target="contact-modal") Контакты