nav.menu
  a.menu__link.js-scroll-to(href="#about") О студии
  a.menu__link.js-scroll-to(href="#services") Услуги
  a.menu__link.active(href="catalog.html") Модели
  a.menu__link(href="become.html") Стать моделью
  .menu__link-group
    a.menu__link(href="payment.html") Оплата
    span.menu__link-count 1
  button.menu__link(type="button" data-modal="#contact-modal") Контакты