.select-field.multiselect-field(data-placeholder="Размер одежды")
  button.select-field__close(type="button" aria-label="Очистить селект")
    +icon('close')
  button.select-field__reset.range-field__reset(type="button") сброс
  span.select-field__active Размер одежды
  .select-field__list
    label.select-field__item.checkbox-label XXS
      input(type="checkbox")
    label.select-field__item.checkbox-label XS
      input(type="checkbox")
    label.select-field__item.checkbox-label S
      input(type="checkbox")
    label.select-field__item.checkbox-label M
      input(type="checkbox")
    label.select-field__item.checkbox-label L
      input(type="checkbox")
    label.select-field__item.checkbox-label XL
      input(type="checkbox")