.select-field.multiselect-field(data-placeholder="Размер одежды")
  button.select-field__close(type="button" aria-label="Очистить селект")
    +icon('close')
  button.select-field__reset.range-field__reset(type="button") сброс
  span.select-field__active Размер одежды
  .select-field__list
    label.select-field__item XXS
      input(type="checkbox")
    label.select-field__item XS
      input(type="checkbox")
    label.select-field__item S
      input(type="checkbox")
    label.select-field__item M
      input(type="checkbox")
    label.select-field__item L
      input(type="checkbox")
    label.select-field__item XL
      input(type="checkbox")