.select-field(data-placeholder="Пол")
  button.select-field__close(type="button" aria-label="Очистить селект")
    +icon('close')
  button.select-field__reset.range-field__reset(type="button") сброс
  span.select-field__active Пол
  ul.select-field__list
    li.select-field__item Мужской
    li.select-field__item Женский