.payment-actions
  button.btn.btn--dark.payment-actions__btn(type="submit")
    span Оплатить
  p.payment-actions__text Нажимая "Оплатить" Вы соглашаетесь с&nbsp;условиями
    button(type="button" data-remodal-target="offer-agreement") Договора-оферты
  .payment-actions__modal.remodal(data-remodal-id="offer-agreement")
    button.modal-close(type="button" aria-label="Закрыть карточку" data-remodal-action="close")
      +icon('close-modal')
    .payment-actions__modal-wrap
      h2 Оферта на оказание услуг ООО ЛК «ЗАДЕНЬ.РУ»
      p г. Иннополис
      p 6 июля 2020 г.
      p Настоящая Оферта представляет собой предложение общества с ограниченной ответственностью ЛК «ЗАДЕНЬ.РУ» (далее – ЛК «ЗАДЕНЬ.РУ») заключить Договор на оказание Услуг ЛК «ЗАДЕНЬ.РУ» на изложенных ниже условиях.
      h3 1. ОПРЕДЕЛЕНИЯ И ТЕРМИНЫ
      p 1.1. В целях настоящей Оферты нижеприведенные термины используются в следующих значениях:
      p Оферта — настоящий документ «Оферта на оказание услуг ЛК «ЗАДЕНЬ.РУ».
      p Studio.kazanexpress.ru — сервис поиска и оплаты услуг по фото- и видео-съемке, моделей (<a href="https://studio.kazanexpress.ru" target="_blank">https://studio.kazanexpress.ru</a>)
      p Пользователь — лицо, осуществившее Акцепт Оферты. Пользователь является Заказчиком Услуг ЛК «ЗАДЕНЬ.РУ» по заключенному Договору.
      p Заказ — совокупность услуг, оказываемых для Пользователя в Сервисах ЛК «ЗАДЕНЬ.РУ».
      p Услуги ЛК «ЗАДЕНЬ.РУ» — предоставление Пользователю возможности доступа к каталогу моделей ЛК «ЗАДЕНЬ.РУ» и предоставление услуг по фото- и видео-съемке. Полное описание всех услуг, доступных Пользователю, доступно по адресу <a href="https://studio.kazanexpress.ru" target="_blank">https://studio.kazanexpress.ru</a>
      p Акцепт Оферты — полное и безоговорочное принятие Оферты путем осуществления действий, указанных в разделе 7 Оферты. Акцептом Оферты заключается Договор.
      p Договор — договор между Пользователем и ЛК «ЗАДЕНЬ.РУ», заключенный на условиях настоящей Оферты.
      p 1.2. В Оферте могут быть использованы термины, не определенные в п.1.1. Оферты. В этом случае толкование такого термина производится в соответствии с текстом Оферты. В случае отсутствия однозначного толкования термина в тексте Оферты следует руководствоваться толкованием термина, определенным: в первую очередь – законодательством РФ, во вторую очередь сложившимся (общеупотребимым) в сети Интернет.
      h3 2. ПРЕДМЕТ ОФЕРТЫ
      p 2.1. Предметом оферты является возмездное оказание ЛК «ЗАДЕНЬ.РУ» услуг Пользователю на следующих условиях: ЛК «ЗАДЕНЬ.РУ» предоставляет Пользователю возможность осуществления поиска моделей по каталогу, выбора услуг по фото- и видеосъемке на условиях настоящей Оферты для самостоятельного осуществления Заказов (далее – Услуги), а Пользователь выплачивает ЛК «ЗАДЕНЬ.РУ» стоимость указанных Услуг на условиях настоящей Оферты.
      p 2.2. Для осуществления Заказов Пользователь самостоятельно использует программный интерфейс поиска услуг по каталогам Сервиса ЛК «ЗАДЕНЬ.РУ».
      h3 3. УСЛОВИЯ ОКАЗАНИЯ УСЛУГ
      p 3.2. Пользователь не вправе передавать свои права по Договору какой-либо третьей стороне.
      h3 4. ПРАВА И ОБЯЗАТЕЛЬСТВА
      p 4.1. ЛК «ЗАДЕНЬ.РУ» обязуется:
      p 4.1.1. Оказать Пользователю Услуги ЛК «ЗАДЕНЬ.РУ» в соответствии с Договором, заключенным на условиях настоящей Оферты.
      p 4.1.2. Обеспечить конфиденциальность в отношении Пользователя и его Заказов.
      p 4.1.3. Стороны согласились, что условие сохранения конфиденциальности регистрационных данных (включая персональные данные) не распространяется на случаи использования ЛК «ЗАДЕНЬ.РУ» таких данных в целях выставления Пользователю счетов на оказание Услуг и оформления с Пользователем актов сдачи-приемки Услуг. В указанных документах подлежат указанию данные (в том числе персональные данные) и реквизиты, предоставленные Пользователем.
      p 4.2. ЛК «ЗАДЕНЬ.РУ» имеет право:
      p 4.2.1. Временно приостановить оказание Пользователю Услуг по Договору по техническим, технологическим или иным причинам, препятствующим оказанию Услуг, на время устранения таких причин.
      p 4.2.2. Приостановить оказание Услуг по Договору и/или досрочно расторгнуть Договор в одностороннем внесудебном порядке путем уведомления Пользователя в случаях нарушения Пользователем обязательств и/или гарантий, принятых в соответствии с Договором.
      p 4.2.3. ЛК «ЗАДЕНЬ.РУ» имеет все права на предоставление Услуг ЛК «ЗАДЕНЬ.РУ», данные права не нарушают авторских и иных прав третьих лиц и соответствуют законодательству РФ.
      p 4.2.4. ЛК «ЗАДЕНЬ.РУ» вправе использовать открытую информацию о Пользователе (в том числе, наименование компании, бренд, логотип), исключительно в целях указания Пользователя как клиента ЛК «ЗАДЕНЬ.РУ» на сайте, в рассылках и в промо-материалах ЛК «ЗАДЕНЬ.РУ», с даты акцепта Пользователем настоящей Оферты. Акцепт настоящей Оферты Пользователем подтверждает отсутствие претензий Пользователя к ЛК «ЗАДЕНЬ.РУ» в части такого будущего использования открытой информации о Пользователе в рамках, указанных в настоящем пункте.
      h3 5. ПРАВА И ОБЯЗАТЕЛЬСТВА ПОЛЬЗОВАТЕЛЯ
      p 5.1. Пользователь обязуется:
      p 5.1.1. Оплатить Услуги ЛК «ЗАДЕНЬ.РУ» по Договору в установленном настоящим Договором порядке.
      p 5.1.2. Использовать Сервис ЛК «ЗАДЕНЬ.РУ» в соответствии с Правилами Сервиса.
      p 5.2. Пользователь имеет право:
      p 5.2.1. Приостановить или прекратить Заказы в любое время.
      h3 6. СТОИМОСТЬ УСЛУГ И УСЛОВИЯ ОПЛАТЫ
      p 6.1. Отчетный период оказания Услуг устанавливается в пределах календарного месяца.
      p 6.2. Оплата Услуг производится Пользователем в российских рублях в безналичном порядке способом, выбранным Пользователем на странице оплаты.
      p 6.3. Услуги оказываются Пользователю на условиях предварительной оплаты Услуг. Пользователь в течение 5 (пяти) рабочих дней с момента выставления ЛК «ЗАДЕНЬ.РУ» Счета производит авансовый платеж в размере 100% (Ста процентов) от общей стоимости заказываемых Услуг. Оплата Пользователем Счета является Акцептом Оферты и влечет заключение Договора на условиях настоящей Оферты.
      p 6.4. В целях Договора принимается оплата Услуг переводом без открытия банковского счета через отделения Сбербанка РФ, иных банков на территории РФ, либо в безналичной форме с расчётного счета Пользователя.
      p 6.5. Пользователь обязуется незамедлительно уведомить ЛК «ЗАДЕНЬ.РУ» о произведенной предоплате услуг в рамках настоящей Оферты.
      p 6.6. Услуги считаются оплаченными Заказчиком с момента получения ЛК «ЗАДЕНЬ.РУ» подтверждения из банка о поступлении всей суммы оплаты на расчетный счет ЛК «ЗАДЕНЬ.РУ».
      p 6.7. Настоящим Стороны договорились, что в случае, если на момент прекращения или расторжения Договора сумма произведенной Пользователем предоплаты Услуг превышает стоимость фактически оказанных Пользователю по Договору Услуг, то разница между указанными суммами признается внесенной Пользователем в счет оплаты (предоплаты) услуг ЛК «ЗАДЕНЬ.РУ» в рамках других (в том числе будущих) договоров, за исключением случаев:
      p 1) когда иное прямо предусмотрено условиями Оферты;
      p 2) когда иное дополнительно согласовано Сторонами при прекращении или расторжении Договора. Настоящее условие остается в силе и действует также после расторжения или прекращения Договора.
      p 6.8. Ежемесячно (в последний день отчетного периода) и/или по завершении оказания Услуг по Договору (Счету) ЛК «ЗАДЕНЬ.РУ» формирует Акты сдачи-приемки услуг в соответствии с объемом фактически оказанных в отчетном периоде Услуг. В течение десяти дней по завершении отчетного периода Пользователь обязан принять Услуги, в частности, путем подписания Акта, или предъявить мотивированные возражения в отношении приемки оказанных Услуг. Если в течение указанного срока от Пользователя не поступило подписанного Акта либо мотивированных письменных возражений, то Услуги считаются оказанными ЛК «ЗАДЕНЬ.РУ» надлежащим образом и принятыми Пользователем в указанном в Акте объеме, а Акт сдачи-приемки услуг приобретает силу двухстороннего за подписью ЛК «ЗАДЕНЬ.РУ».
      h3 7. АКЦЕПТ ОФЕРТЫ И ЗАКЛЮЧЕНИЕ ДОГОВОРА
      p 7.1. Пользователь производит Акцепт Оферты путем предварительной оплаты Услуг на основании выставленного ЛК «ЗАДЕНЬ.РУ» Счета.
      p 7.2. Договор может быть заключен в отношении нескольких Заказов. Пользователь самостоятельно определяет количество Заказов.
      h3 8. СРОК ДЕЙСТВИЯ И ИЗМЕНЕНИЕ ДОГОВОРА
      p 8.1. Акцепт Оферты Пользователем, произведенный согласно разделу 7 Оферты, создает Договор (статья 438 Гражданского Кодекса РФ) на условиях Оферты.
      p 8.2. Договор вступает в силу с момента Акцепта Оферты Пользователем и действует: а) до момента исполнения Сторонами обязательств по Договору, а именно оплаты Пользователем стоимости Услуг и оказания ЛК «ЗАДЕНЬ.РУ» Услуг в объеме, соответствующем стоимости Услуг, либо б) до момента расторжения Договора.
      p 8.3. Пользователь соглашается и признает, что внесение изменений в Оферту влечет за собой внесение этих изменений в заключенный и действующий между Пользователем и ЛК «ЗАДЕНЬ.РУ» Договор, и эти изменения в Договор вступают в силу одновременно с такими изменениями в Оферту.
      p 8.4. В случае отзыва Оферты ЛК «ЗАДЕНЬ.РУ» в течение срока действия Договора, Договор считается прекращенным с момента отзыва, если иное не оговорено ЛК «ЗАДЕНЬ.РУ» при отзыве Оферты.
      h3 9. РАСТОРЖЕНИЕ ДОГОВОРА
      p 9.1. Договор может быть расторгнут:
      p 9.1.1. По соглашению Сторон в любое время.
      p 9.1.2. По инициативе любой из Сторон в случае нарушения другой Стороной условий Договора с письменным уведомлением другой Стороны.
      p 9.1.3. По иным основаниям, предусмотренным настоящей Офертой.
      h3 10. ГАРАНТИИ
      p 10.1. В течение срока действия Договора ЛК «ЗАДЕНЬ.РУ» предпримет все усилия для устранения каких-либо сбоев и ошибок, в случае их возникновения, в максимально короткие сроки. При этом, ЛК «ЗАДЕНЬ.РУ» не гарантирует отсутствия ошибок и сбоев в отношении работы программного обеспечения.
      p 10.2. За исключением гарантий, прямо указанных в тексте Оферты, ЛК «ЗАДЕНЬ.РУ» не предоставляет никаких иных прямых или подразумеваемых гарантий по Договору и прямо отказывается от каких-либо гарантий или условий в отношении соответствия (несоответствия) Услуг конкретным целям Пользователя.
      p 10.3. Соглашаясь с условиями и принимая условия настоящей Оферты путем Акцепта Оферты, Пользователь (или представитель Пользователя, в т.ч. физическое лицо, должным образом уполномоченное заключить Договор от лица Пользователя) заверяет ЛК «ЗАДЕНЬ.РУ» и гарантирует ЛК «ЗАДЕНЬ.РУ», что:
      p 10.3.1. Пользователь заключает Договор добровольно, при этом Пользователь (представитель Пользователя):
      p а) полностью ознакомился с условиями Оферты,
      p б) полностью понимает предмет Оферты и Договора,
      p в) полностью понимает значение и последствия своих действий в отношении заключения и исполнения Договора.
      p 10.3.2. Пользователь (представитель Пользователя) обладает всеми правами и полномочиями, необходимыми для заключения и исполнения Договора.
      h3 11. ОТВЕТСТВЕННОСТЬ И ОГРАНИЧЕНИЕ ОТВЕТСТВЕННОСТИ
      p 11.1. За нарушение условий Договора Стороны несут ответственность, установленную Договором и/или действующим законодательством РФ.
      p 11.2. Ни при каких обстоятельствах ЛК «ЗАДЕНЬ.РУ» не несет никакой ответственности по Договору за:
      p а) какие-либо действия/бездействие, являющиеся прямым или косвенным результатом действий/бездействия Пользователя и/или третьих лиц;
      p б) какие-либо косвенные убытки и/или упущенную выгоду Пользователя и/или третьих сторон вне зависимости от того, мог ЛК «ЗАДЕНЬ.РУ» предвидеть возможность таких убытков или нет;
      p в) использование (невозможность использования) и какие бы то ни было последствия использования (невозможности использования) Пользователем выбранной им формы оплаты Услуг по Договору, а равно использование/невозможность использования Пользователем и/или третьими лицами любых средств и/или способов передачи/получения информации.
      p 11.3. Стороны освобождаются от ответственности за частичное или полное неисполнение обязательств по настоящему Договору, если это неисполнение явилось следствием обстоятельств непреодолимой силы, которые возникли после заключения Договора, либо если неисполнение обязательств Сторонами по Договору явилось следствием событий чрезвычайного характера, которые Стороны не могли ни предвидеть, ни предотвратить разумными мерами. К обстоятельствам непреодолимой силы относятся события, на которые Сторона не может оказывать влияния и за возникновение которых она не несет ответственности, в том числе: война, восстание, забастовка, землетрясение, наводнение, иные стихийные бедствия, пожар, сбои энергоснабжения, произошедшие не по вине Сторон, действия и акты органов власти, принятые после заключения Договора и делающие невозможным исполнение обязательств, установленных Договором, и другие непредвиденные обстоятельства и неподконтрольные сторонам события и явления, но не ограничиваясь указанным.
      p 11.4. Пользователь несет ответственность в полном объеме за:
      p а) соблюдение всех требований законодательства, в том числе законодательства о рекламе, об интеллектуальной собственности, о конкуренции, но не ограничиваясь перечисленным, в отношении содержания и формы Заказа и материалов, размещенных в Заказе, использование сайта (доменного имени сайта), для которого оказываются Услуги в Заказе, иные действия, осуществляемые им в качестве Пользователя.
      h3 12. ПРОЧИЕ УСЛОВИЯ
      p 12.1. Договор, его заключение и исполнение регулируются действующим законодательством Российской Федерации. Все вопросы, не урегулированные Офертой или урегулированные не полностью, регулируются в соответствии с материальным правом Российской Федерации. Если споры между Пользователем и ЛК «ЗАДЕНЬ.РУ» в отношении Договора не разрешены путем переговоров Сторон, они подлежат рассмотрению в порядке, предусмотренном действующим законодательством в Арбитражном суде города Москвы.
      p 12.2. Любые уведомления по Договору могут направляться одной Стороной другой Стороне:
      p 1) по электронной почте
      p 2) почтой с уведомлением о вручении или курьерской службой с подтверждением доставки.
      p 12.3. В случае, если одно или более положений Оферты являются по какой-либо причине недействительными, не имеющими юридической силы, такая недействительность не оказывает влияния на действительность любого другого положения Оферты (Договора), которые остаются в силе.
      h3 13. РЕКВИЗИТЫ ООО ЛК «ЗАДЕНЬ.РУ»
      p Полное наименование: Общество с ограниченной ответственностью Логистическая компания «ЗАДЕНЬ.РУ»
      p ОГРН: 1181690055557
      p ИНН / КПП: 1655404454/161501001
      p Адрес: 420500, Республика Татарстан, Верхнеуслонский р-н, г. Иннополис, ул. Спортивная, д. 128, помещение 2
      p Банковские реквизиты:
      p АО «Тинькофф Банк»
      p Расчетный счет: 40702810210000380503
      p к/с: 30101810145250000974
      p БИК: 044525974
      p ИНН: 7710140679
      p Адрес электронной почты: studio@kazanexpress.ru
      p Генеральный директор ООО ЛК «ЗАДЕНЬ.РУ»
      p Сафина Ландыш Рафисовна
