.payment-actions
  button.btn.btn--dark.payment-actions__btn(type="submit")
    span Оплатить
  p.payment-actions__text Нажимая "Оплатить" Вы соглашаетесь с&nbsp;условиями
    button(type="button" data-modal="#offer-agreement") Договора-оферты
