section#calculator.payment-calculator
  .container
    h4.payment-calculator__title Ваш заказ 
      span на услуги студии
    .payment-calculator__list
      .payment-calculator__item
        .payment-calculator__item-photo
          img(src="app/img/content/calculator-photo.jpg" alt="ИМЯ")
        .payment-calculator__item-info
          h5.payment-calculator__item-title Услуги модели
            span.name Алия
          p.payment-calculator__item-desc 
            span.title 
              span.desktop стоимость съемок за час
              span.mobile съемка за час
            span.price 1000 <i class="rouble-icon"></i>
          p.payment-calculator__item-desc.payment-calculator__item-desc--discount
            span.title стоимость съемок от 3 часов
            span.price 900 <i class="rouble-icon"></i>
        .payment-calculator__item-count
          button.minus(type="button" aria-label="Уменьшить НАЗВАНИЕ УСЛУГИ")
            +icon('minus')
          span.num 10
          button.plus(type="button" aria-label="Уменьшить НАЗВАНИЕ УСЛУГИ")
            +icon('plus')
        span.payment-calculator__item-price 1000 <i class="rouble-icon"></i>
        button.payment-calculator__item-close(type="button" aria-label="Удалить")
          +icon('close-modal')
      // добавить класс delivery для элемента доставки
      .payment-calculator__item.delivery
        .payment-calculator__item-photo.payment-calculator__item-photo--icon
          // delivery-icon | photo-icon | retush-icon | 360-icon
          +icon('delivery-icon')
        .payment-calculator__item-info
          h5.payment-calculator__item-title Модельная и предметная сьемка
          p.payment-calculator__item-desc.payment-calculator__item-desc--auto
            span.title цена за товар 
            span.price 10 <i class="rouble-icon"></i>
        // В остальных услугах можно удалить этот блок
        .payment-calculator__item-sub
          label.payment-calculator__item-sub-add(for="calc-file-add")
            +icon('file-add')
            span Акт приема
          input.payment-calculator__item-sub-input(type="file" placeholder="Акт приема" id="calc-file-add")
          input.form-group__input(type="text" placeholder="Акт возврата")
        .payment-calculator__item-count
          input.form-group__input(type="text" placeholder="Количество")
        span.payment-calculator__item-price 10000 <i class="rouble-icon"></i>
        // добавить класс .hide для скрытия
        button.payment-calculator__item-close(type="button" aria-label="Удалить")
          +icon('close-modal')
    .payment-calculator__add
      .form-group
        span.form-group__label Добавить услугу
        .form-select.select-field
          span.select-field__active Съемка товара
          ul.select-field__list
            li.select-field__item Модельная и предметная съемка 
              span 40 <i class="rouble-icon"></i> / артикул
            li.select-field__item Отбор и доставка товара 
              span 10 <i class="rouble-icon"></i> / товар
            li.select-field__item Обработка сторонних фотографий 
              span 40 <i class="rouble-icon"></i> / наименование
    h4.payment-calculator__total Итого сумма к оплате:
      span.payment-calculator__total-summ 68 700 Р