form.payment-human.form(data-validation)
  .form__block
    h5.form__subtitle.payment-human__title Введите сумму
    .form-group
      input.form-group__input(type="num" data-name="num" placeholder="Введите сумму за услуги")
  button.btn.btn--dark.payment-human__btn(type="submit")
    span check out