.catalog-list-block
  .catalog-list-block__image
    img(src="app/img/content/catalog-list.jpg" alt="имя")
  .catalog-list-block__row
    span.catalog-list-block__name Андрей
    span.catalog-list-block__expirience опыт 3 года
  .catalog-list-block__row
    span.catalog-list-block__price 1 999
      i.rouble-icon
    span.catalog-list-block__age 25 лет