section.catalog-list
  .container
    span.catalog-list__all 550 моделей по вашему запросу
    .catalog-list__blocks
      .catalog-list__block
        include ./block
        include ../card/modal
      .catalog-list__block
        include ./block2
        include ../card/modal2
      .catalog-list__block
        include ./block3
        include ../card/modal3
      .catalog-list__block
        include ./block4
        include ../card/modal4
    span.catalog-list__views Показаны 20 из 575 моделей
    button.catalog-list__btn.btn 
      span Показать еще