extends ../layout/main

block variables
	- var title = 'Стать моделью'

block content
	.become-page
		.container
			h1(style="margin-bottom: 1em;") Страница находится в разработке
			a(href="catalog.html") Каталог