extends ../layout/main

block variables
	- var title = 'Главная'

block content
	.index-page
		.container
			h1(style="margin-bottom: 1em;") Страница находится в разработке
			p
				a(href="catalog.html") Каталог
			p
				a(href="payment.html") Оплата
			p
				a(href="thanks.html") Благодарность за оплату
			p
				a(href="404.html") 404 страница
			p
				a(href="become.html") Стать моделью