extends ../layout/main

block variables
	- var title = 'Главная'

block content
	.index-page
		include ../section/index/hero
		include ../section/index/about
		include ../section/index/advantages
		include ../section/index/services
		include ../section/index/portfolio