extends ../layout/main

block variables
	- var title = 'Оплата'

block content
	.payment-page
		.container
			h1(style="margin-bottom: 1em;") Страница находится в разработке
			a(href="catalog.html") Каталог