extends ../layout/main

block variables
	- var title = 'Оплата'

block content
	.payment-page
		include ../section/payment/calculator
		p.payment-page__text Сформировать счет или оплатить услуги студии:
		.payment-page__actions
			button.btn.payment-page__btn(type="button") Оплата картой
			button.btn.payment-page__btn(type="button") Сформировать счет для ЮЛ
		.payment-page__tabs
			.payment-page__tab
				include ../section/payment/human
			.payment-page__tab
				include ../section/payment/organization

block script
	script(src="https://cdn.jsdelivr.net/npm/vue")