extends ../layout/main

block variables
  - var title = 'Спасибо за оплату'

block content
  .thanks-page
    h1.page-title.thanks-page__title Спасибо за обращение в студию KazanExpress!
    p.thanks-page__text Мы делаем свою работу лучше с каждым днем. Любовь к своей профессии и профессиональное оборудование —  наше главное конкурентное преимущество.
    p.thanks-page__text Ждем Вас вновь!<br>С уважением, команда фотостудии KazanExpress.