// ХЕЛПЕРЫ
@import 'base/fonts.styl'
@import 'base/vars.styl'
@import 'base/mixins.styl'


// Общие стили
@import 'base/settings.styl'
@import 'base/general.styl'


// Компоненты
@import "common/common.styl"

// Секции

/* Стили секции header */
@import 'section/header.styl'
/* Стили секции header */

/* Стили секции footer */
@import 'section/footer.styl'
/* Стили секции footer */

/* Стили страницы catalog */
@import 'section/catalog/index.styl'
/* Стили страницы catalog */

/* Стили modal card */
@import 'section/card/index.styl'
/* Стили modal card */