.payment-actions
  margin-top 60px

.payment-actions__text
  margin-top 20px
  font-size 14px
  line-height 125%
  letter-spacing 0.05rem
  color gray-3
  button
    color #0000FF
    border-bottom 1px solid #0000FF
    cursor pointer
    &:hover
      border-bottom-color transparent

.payment-actions__modal
  text-align left

.payment-actions__modal-wrap
  h2
    font-size 2rem
    font-weight bold
    margin-bottom 1rem
  h3
    font-size 1.5rem
    font-weight 500
    margin 1rem 0
  p + p
    margin-top 1em