.payment-organization
  max-width 600px
  margin 0 auto
  @media (max-width breakpoint-md)
    padding 0 16px

.payment-organization__title
  margin-bottom 100px
  @media (max-width breakpoint-md)
    margin-bottom 50px

.payment-organization__summ
  margin-top 40px
  .form-group__label
    font-size 24px
    line-height 120%
    letter-spacing 1px

.payment-organization__btn
  margin 50px auto 0