.become-form__wrap
  max-width 900px
  margin-left auto

.become-form__title
  max-width 570px
  margin-bottom 25px
  font-size 24px
  line-height 120%
  letter-spacing 1px
  color gray-2

.become-form__required
  font-size 14px
  line-height 125%
  letter-spacing 0.8px
  color color-red
  margin-bottom 50px
  display block
  &--comment
    max-width 380px

.become-form__form
  max-width 600px
  @media (max-width breakpoint-md)
    max-width 100%

.become-form__subtitle
  &--params
    margin-bottom 50px
  &--agreement
    margin-bottom 25px

.become-form__btn
  max-width 300px
  margin-top 80px
  margin-bottom 20px
  @media (max-width breakpoint-md)
    margin-top 50px

.become-form__agreement
  .form-group__label--checkbox
    max-width 480px