.become-page
  padding-bottom 105px
  background-color gray-6
  @media (max-width breakpoint-md)
    padding-bottom 40px
    background-color #fff

@import './hero.styl'
@import './info.styl'
@import './form.styl'