.become-info
  padding-top 100px
  margin-bottom 200px
  @media (max-width breakpoint-md)
    margin-bottom 0

.become-info__title
  margin-bottom 50px
  max-width 825px
  @media (max-width breakpoint-md)
    margin-bottom 25px

.become-info__wrap
  max-width 900px
  margin-left auto

.become-info__text
  max-width 350px
  font-size 16px
  line-height 125%
  letter-spacing 0.8px
  color gray-1
  margin-bottom 220px
  @media (max-width breakpoint-md)
    margin-bottom 100px
    font-size 20px
    letter-spacing 1.2px

.become-info__accent
  font-weight bold
  font-size 36px
  line-height 120%
  letter-spacing 1px
  color gray-1
  max-width 720px
  @media (max-width breakpoint-md)
    color #fff
    background-color gray-1
    padding 120px 20px 150px
    width calc(100% + 30px)
    margin-left -15px