.index-about
  padding-top 200px

.index-about__text
  font-size 20px
  line-height 125%
  letter-spacing 1.2px
  color gray-1

.index-about__info
  max-width 860px
  margin 0 auto 250px

.index-about__info-title
  margin-bottom 90px
  max-width 650px

.index-about__info-block
  max-width 730px
  margin-left auto

.index-about__info-text
  max-width 510px
  margin-bottom 50px

.index-about__info-image
  max-width 100%
  border-radius 10px
  overflow hidden

.index-about__block
  display flex
  &+&
    margin-top 250px

.index-about__block-images
  margin-right 50px
  display flex

.index-about__block-image
  max-width 300px
  border-radius 10px
  overflow hidden
  &+&
    margin-left 40px

.index-about__block-text
  max-width 340px

.index-about__footer-image
  margin-top 250px