.index-hero
  margin-top -101px
  position relative
  .container
    position absolute
    top 0
    left 0
    bottom 0
    right 0
  @media (max-width breakpoint-lg)
    margin-top -81px
  @media (max-width breakpoint-md)
    margin-top 0

.index-hero__video
  position relative
  top 0
  left 0
  right 0
  bottom 0
  width 100%
  min-height 100vh
  &:after
    content ''
    display block
    position absolute
    left 0
    right 0
    bottom 0
    top 0
    background-image linear-gradient(0deg, rgba(62, 58, 58, 0.5), rgba(62, 58, 58, 0.5))
  video
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    object-fit cover
    &.mobile
      display none
  @media (max-width breakpoint-md)
    padding-top 0
    height 100vh
    min-height 500px
    max-height 654px
    video
      &.desktop
        display none
      &.mobile
        display block

.index-hero__wrap
  height 100%
  display flex
  flex-direction column
  justify-content flex-end
  padding-bottom 145px
  @media (max-width breakpoint-lg)
    padding-bottom 40px
  @media (max-width breakpoint-md)
    padding-bottom 20%

.index-hero__title
  max-width 720px
  font-weight bold