.index-portfolio
  padding-top 100px
  padding-bottom 210px
  background-color gray-1
  overflow hidden

.index-portfolio__title
  max-width 860px
  margin 0 auto 115px

.index-portfolio__slider
  .slick-list
    overflow visible

.index-portfolio__slide
  height 100%
  &+&
    margin-left 80px

.index-portfolio__slide-wrap
  display flex
  flex-direction column
  min-height 510px
  &.center
    justify-content center
  &.bottom
    justify-content flex-end

.index-portfolio__slide-image
  border-radius 10px
  overflow hidden