.index-portfolio
  padding-top 100px
  padding-bottom 210px
  background-color gray-1
  overflow hidden
  @media (max-width breakpoint-md)
    padding 50px 0

.index-portfolio__title
  max-width 860px
  margin 0 auto 115px
  @media (max-width breakpoint-md)
    margin-bottom 50px

.index-portfolio__slider
  .slick-list
    overflow visible

.index-portfolio__slide
  height 100%
  &+&
    margin-left 80px
  @media (max-width breakpoint-md)
    &+&
      margin-left 15px

.index-portfolio__slide-wrap
  display flex
  flex-direction column
  min-height 510px
  &.center
    justify-content center
  &.bottom
    justify-content flex-end
  @media (max-width breakpoint-md)
    min-height auto
    display block

.index-portfolio__slide-image
  border-radius 10px
  overflow hidden
  @media (max-width breakpoint-md)
    img
      width 100%