// ОБЩИЕ СТИЛИ

.container 
	width 100%
	max-width 1200px
	margin 0 auto
	@media (max-width: 1200px) 
		padding 0 10px

.overflow-hidden
	overflow hidden

.rouble-icon
	font-family font-rouble
	overflow hidden
	position relative
	font-style normal
	&:before
		content "i"

// футер к низу

.wrapper
	height 100%
	display flex
	flex-direction column

.main 
	flex 1
	@media (max-width breakpoint-md)
		padding-top 50px
