// ЦВЕТА
gray-1 = #333
gray-2 = #4F4F4F
gray-3 = #828282
gray-4 = #BDBDBD
gray-5 = #E0E0E0
gray-6 = #F2F2F2
color-red = #EB5757

// РАЗМЕРЫ

breakpoint-xl = 1400px
breakpoint-llg = 1200px
breakpoint-lg = 1024px
breakpoint-md = 768px
breakpoint-sm = 480px
breakpoint-ssm = 320px

// ШРИФТЫ

font-roboto = 'Roboto', Arial, sans-serif
font-rouble = 'rouble', sans-serif