section.index-about#about
  .container
    .index-about__info.wow.fadeIn
      h2.title-h3.index-about__info-title Наш результат - преимущество товара в каждом кадре
      .index-about__info-block
        p.index-about__text.index-about__info-text Команда студии постояно растет и включает в себя самых талантливых и перспективных специалистов из разных областей
        .index-about__info-image
          img(src="app/img/content/index-info.jpg" alt="Картинка о компании" data-zoomable)
    .index-about__block.wow.fadeIn
      .index-about__block-images
        .index-about__block-image.small
          img(src="app/img/content/index-block-1.jpg" alt="Пример продукта 1" data-zoomable)
        .index-about__block-image.big
          img(src="app/img/content/index-block-2.jpg" alt="Пример продукта 2" data-zoomable)
      p.index-about__text.index-about__block-text Мы предоставляем качественные и креативные снимки, вызывая у клиента желание оформить заказ
    .index-about__block.wow.fadeIn
      .index-about__block-images
        .index-about__block-image.big
          img(src="app/img/content/index-block-2.jpg" alt="Пример продукта 3" data-zoomable)
        .index-about__block-image.small
          img(src="app/img/content/index-block-1.jpg" alt="Пример продукта 4" data-zoomable)
        a.btn.btn--dark(href="catalog.html") каталог моделей
      .index-about__block-info
        p.index-about__text.index-about__block-text Каждую неделю мы пополняем базу моделей, которые смогут грамотно и выгодно представить ваш продукт на маркетплейсе, выделяя его среди конкурентов
        a.btn.btn--dark(href="catalog.html") каталог моделей
    p.index-about__footer-text.index-about__text Сохраняя потрясающий уровень качества, наши цены в 5-10 раз ниже любой профессиональной студии. В этом заключается наш подход к партнерам, который не имеет аналогов среди российских маркетплейсов.
  .index-about__footer-image
    img(src="app/img/content/index-about-footer.jpg" alt="Картинка о компании")