section.index-advantages
  .container
    .index-advantages__wrap.wow.fadeIn
      h2.title-h3.index-advantages__title К услугам  наших продавцов:
      .index-advantages__row
        ul.index-advantages__info
          li.index-advantages__info-item 
            p Семь рабочих зон для проведения съемок любой сложности
            img(src="app/img/content/index-advantages-1.jpg" alt="Картинка преимущество 5")
          li.index-advantages__info-item 
            p Широкий ассортимент аксессуаров и нарядов
            img(src="app/img/content/index-advantages-2.jpg" alt="Картинка преимущество 6")
          li.index-advantages__info-item 
            p Одно из лучших профессиональных оборудований в стране
            img(src="app/img/content/index-advantages-3.jpg" alt="Картинка преимущество 7")
          li.index-advantages__info-item 
            p Технология съемки товара 360 градусов 
            img(src="app/img/content/index-advantages-4.jpg" alt="Картинка преимущество 8")
        .index-advantages__images
          .index-advantages__images-row
            .index-advantages__image.big
              img(src="app/img/content/index-advantages-1.jpg" alt="Картинка преимущество 1")
            .index-advantages__image.small
            img(src="app/img/content/index-advantages-2.jpg" alt="Картинка преимущество 2")
          .index-advantages__images-row.index-advantages__images-row--center
            .index-advantages__image.big
              img(src="app/img/content/index-advantages-3.jpg" alt="Картинка преимущество 3")
          .index-advantages__images-row
            .index-advantages__image.small
              img(src="app/img/content/index-advantages-4.jpg" alt="Картинка преимущество 4")
    .index-advantages__block.wow.fadeIn
      .index-advantages__block-image
        img(src="app/img/content/index-advantages-block.jpg" alt="Картинка о преимуществах")
      p.index-advantages__block-text Сохраняя потрясающий уровень качества, наши цены в 5-10 раз ниже любой профессиональной студии. В этом заключается наш подход к партнерам, который не имеет аналогов среди российских маркетплейсов.