section.index-hero.hero-background
  .index-hero__video
    video(src="app/img/content/videoplayback.mp4" muted autoplay loop)
  .container
    .index-hero__wrap
      h1.page-title.page-title--white.index-hero__title Студия KazanExpress — выходи на новый уровень