section.index-portfolio.wow.fadeIn
  .container
    h2.title-h3.title-h3--white.index-portfolio__title Наши работы
    .index-portfolio__slider
      .index-portfolio__slide
        .index-portfolio__slide-wrap.bottom
          .index-portfolio__slide-image
            img(src="app/img/content/index-portfolio-1.jpg" alt="Картинка Портфолио 1")
      .index-portfolio__slide
        .index-portfolio__slide-wrap.top
          .index-portfolio__slide-image
            img(src="app/img/content/index-portfolio-2.jpg" alt="Картинка Портфолио 2")
      .index-portfolio__slide
        .index-portfolio__slide-wrap.top
          .index-portfolio__slide-image
            img(src="app/img/content/index-portfolio-3.jpg" alt="Картинка Портфолио 3")
      .index-portfolio__slide
        .index-portfolio__slide-wrap.center
          .index-portfolio__slide-image
            img(src="app/img/content/index-portfolio-4.jpg" alt="Картинка Портфолио 4")
      .index-portfolio__slide
        .index-portfolio__slide-wrap.center
          .index-portfolio__slide-image
            img(src="app/img/content/index-portfolio-5.jpg" alt="Картинка Портфолио 5")