section.index-services#services
  .container
    h2.page-title.index-services__title Услуги студии KazanExpress
    .index-services__block.index-services__block--main.wow.fadeIn
      h3.title-h3.index-services__block-title Съемка товара
      p.index-services__block-subtitle Искусство представить продукт, товар или объект максимально эффектно и красиво, подчеркнуть его особенности и конкурентные преимущества, сделать максимально привлекательными для покупателя.
      .index-services__block-row
        .index-services__block-info
          p.index-services__block-text Правильно оформленные товары увеличивают конверсию продаж и повышают количество лояльных клиентов.
          span.index-services__block-price 40 р. / SKU*
          p.index-services__block-subprice *цена за один SKU (разновидности одного товара по цвету или форме). Количество фото на 1 SKU отличаются в зависимости от необходимости раскрытия функционала и всех ракурсов товара.
          p.index-services__block-accent До 01.08.2020 года в стоимость входят все услуги студии: работа модели, стилиста, визажиста, продюсера, реквизит, видеоролик (при необходимости).
          a.btn.btn--dark(href="#") заказать
        .index-services__block-views
          .index-services__block-image
            img(src="app/img/content/index-services-1.jpg" alt="Картинка услуги 1")
          p.index-services__block-subimage До 01.08.2020 года в стоимость входят все услуги студии: работа модели, стилиста, визажиста, продюсера, реквизит, видеоролик (при необходимости).
    .index-services__block.wow.fadeIn
      h3.title-h3.index-services__block-title Доставка товара
      p.index-services__block-subtitle Если ваши товары уже на складе KazanExpress - вы можете не задумываться о транспортировке. Мы оперативно сделаем отбор товаров со склада и отвезем их на студию, а также сделаем обратное размещение после съемок.
      .index-services__block-row
        .index-services__block-info
          p.index-services__block-text Экономим время продавцов, позволяя акцентировать внимание на самом главном.
          span.index-services__block-price 10 р. / шт.
          a.btn.btn--dark(href="#") Заказать доставку
        .index-services__block-views
          .index-services__block-image
            img(src="app/img/content/index-services-2.jpg" alt="Картинка услуги 2")
    .index-services__block.wow.fadeIn
      h3.title-h3.index-services__block-title Экспресс-редактирование
      p.index-services__block-subtitle Мы добавим ваш логотип и отредактируем сторонние фотографии, чтобы ваш магазин соответствовал лучшим современным стандартам дизайна.
      .index-services__block-row
        .index-services__block-info
          p.index-services__block-text Кроме роста ценности и доверия к продукту, это позволит увеличить количество показов товара.
          span.index-services__block-price 10 р. / шт.
          a.btn.btn--dark(href="#") Заказать обработку
        .index-services__block-views
          .index-services__block-image
            img(src="app/img/content/index-services-3.jpg" alt="Картинка услуги 3")
    .index-services__more.wow.fadeIn
      p.index-services__more-text Более подробно о процессе подачи заявки на предметную съёмку и доставку:
      a.index-services__more-link(href="#") Инструкция для продавцов KazanExpress