.btn
  cursor pointer
  display flex
  justify-content center
  align-items center
  font-size 16px
  letter-spacing 2px
  text-transform uppercase
  color gray-1
  padding 20px 80px
  border 2px solid gray-4
  border-radius 10px
  transition all .2s
  background-color transparent
  &:hover
    border-color gray-2
  &:active
    border-color gray-3
  @media (max-width breakpoint-md)
    font-size 14px
    line-height 14px
    padding 19px 0
    width 100%
