.form__block
  &+&
    margin-top 100px
  @media (max-width breakpoint-md)
    &+&
      margin-top 50px

.form__subtitle
  font-size 24px
  line-height 120%
  letter-spacing 1px
  color gray-1
  @media (max-width breakpoint-md)
    font-size 18px