.hero-background
  background-size cover
  background-position center
  background-repeat no-repeat
  margin-top -141px
  padding-top 141px
  height 100vh
  min-height 800px
  .container
    height 100%
  @media (max-width breakpoint-lg)
    margin-top -121px
    padding-top 121px
  @media (max-width breakpoint-md)
    margin-top 0
    padding-top 0
    height calc(100vh - 50px)
    min-height 700px