.menu
  display flex
  align-items center
  margin 0 -20px
  @media(max-width breakpoint-lg)
    margin 0 -10px
  @media (max-width breakpoint-md)
    display block
    margin 0

.menu__link
  font-size 18px
  line-height 21px
  letter-spacing 0.01em
  color gray-1
  padding 20px
  &:hover,
  &.active
    text-decoration underline
  &:nth-child(3)
    margin-right auto
  @media(max-width breakpoint-lg)
    padding 10px
    font-size 14px
  @media(max-width breakpoint-md)
    display flex
    align-items center
    padding 0 16px
    height 56px
    background-color gray-1
    color #fff
    &:hover,
    &.active
      text-decoration none
    &+&
      border-top 1px solid #4F4F4F
    &.logo
      display none