.menu
  display flex
  align-items center
  margin 0 -20px
  @media(max-width breakpoint-lg)
    margin 0 -10px
  @media (max-width breakpoint-md)
    display block
    margin 0

.menu__link-group
  position relative
  @media(max-width breakpoint-lg)
    margin-right 10px
  @media (max-width breakpoint-md)
    margin-right 0

.menu__link
  font-size 18px
  line-height 21px
  letter-spacing 0.01em
  color gray-1
  padding 20px
  cursor pointer
  background-color transparent
  &:hover,
  &.active
    text-decoration underline
  &:nth-child(3)
    margin-right auto
  @media(max-width breakpoint-lg)
    padding 10px
    font-size 14px
  @media(max-width breakpoint-md)
    display flex
    align-items center
    padding 0 16px
    height 56px
    background-color gray-1
    color #fff
    width 100%
    &:hover,
    &.active
      text-decoration none
    &+&
      border-top 1px solid #4F4F4F
    &.logo
      display none

.menu__link-count
  position absolute
  top 2px
  left calc(100% - 12px)
  width 17px
  height 17px
  text-align center
  font-size 9px
  line-height 17px
  color #FFFFFF
  background-color color-red
  border-radius 50%
  @media(max-width breakpoint-lg)
    left calc(100% - 6px)
  @media (max-width breakpoint-md)
    left 70px
    top 19px