.multiselect-field
  .select-field__item
    &:before
      top 7px
      left 10px
      border-color gray-5
    &:after
      left 14px
      top 11px
    &.active
      &:before
        border-color gray-6
        background-color gray-6
      &:after
        opacity 1
    input
      display none
  @media (max-width breakpoint-md)
    .select-field__item
      &:before
        top 18px
        left 0
      &:after
        top 22px
        left 4px