.range-field
  display none
  position absolute
  top 100%
  right 50%
  transform translateX(50%)
  min-width 390px
  padding 20px 25px
  background-color #fff
  border 1px solid gray-5
  @media (max-width breakpoint-md)
    padding-top 20px
    padding-right 30px
    padding-bottom 20px
    .range-field__reset
      display none

.range-field__info
  display flex
  align-items center
  justify-content space-between
  font-size 12px
  line-height 125%
  letter-spacing 1px
  color gray-2
  margin-bottom 15px
  @media (max-width breakpoint-md)
    margin-bottom 30px

.range-field__info-block
  @media (max-width breakpoint-md)
    display flex
    justify-content space-between
    width 100%

.range-field__name
  display block
  margin-bottom 5px
  @media (max-width breakpoint-md)
    margin-bottom 0

.range-field__select
  font-family -apple-system, 'Roboto', Arial, sans-serif

.range-field__reset
  letter-spacing 1px
  color gray-3
  cursor pointer
  @media (max-width breakpoint-md)
    position fixed
    top 16px
    right 23px
    background-color transparent
    font-weight 500
    font-size 10px
    letter-spacing 1.5px
    text-transform uppercase
    padding 10px
  @media (max-width breakpoint-ssm)
    right 10px

.range-field__slider-info
  display flex
  justify-content space-between
  color gray-3
  letter-spacing 2px
  margin-bottom 10px
  @media (max-width breakpoint-md)
    font-size 14px
    margin-bottom 25px

.range-field__slider-slider
  border none
  box-shadow none
  height 2px
  background gray-4
  border-radius 1px
  .noUi-connect
    background-color gray-2
  .noUi-handle
    width 22px
    height 22px
    background-color gray-2
    border-radius 50%
    box-shadow none
    border none
    cursor pointer
    top -10px
    &:before,
    &:after
      display none