.header
  padding-top 40px
  z-index 2
  &:before
    content ''
    display none
    position fixed
    top 0
    left 0
    right 0
    bottom 0
    z-index -1
    background-color rgba(gray-1, .5)
  &--white
    .header__logo
      svg
        fill white
        path.arrow
          fill gray-1
    .menu__link
      color #fff
  @media (max-width breakpoint-md)
    padding-top 0
    background-color gray-1
    height 50px
    position fixed
    top 0
    left 0
    right 0
    .container
      height 100%
    &.background-transparent
      background-color transparent
    &.active
      &:before
        display block
      .header__logo
        opacity 0
        visibility hidden
      .header__menu
        top 50px
      .header__burger
        span
          opacity 0
        &::before 
          margin-bottom 0
          transform translateY(2px) rotate(45deg)
        &::after 
          margin-top 0
          transform translateY(-2px)  rotate(-45deg)

.header__wrap
  @media (max-width breakpoint-md)
    display flex
    align-items center
    justify-content center
    height 100%

.header__burger
  width = 20px
  height = 2px
  translate = 5px
  bg = gray-6

  cursor pointer
  display none
  flex-direction column
  background-color transparent
  position absolute
  left 20px
  top 50%
  transform: translateY(-50%)
  &::before,&::after,span
    content ""
    display block
    width width
    height height
    background bg
  &::before
    margin-bottom translate
  &::after
    margin-top translate
  &.hidden
    opacity 0
    visibility hidden
  @media (max-width breakpoint-md)
    display flex

.header__logo
  position absolute
  top 50px
  left 50%
  transform translateX(-50%)
  svg
    fill gray-1
    width 170px
    height 43px
    path.arrow
      fill white
  @media(max-width breakpoint-lg)
    top 35px
  @media (max-width breakpoint-md)
    position relative
    transform none
    top unset
    left unset
    svg
      fill gray-6
      width 86px
      height 22px
      path.arrow
        fill gray-1

.header__menu
  @media (max-width breakpoint-md)
    position fixed
    top -110%
    left 0
    right 0
    transition all .4s