footer.footer
  .container
    .footer__wrap
      .footer__contact
        span.footer__copyright &copy;2020 KE Studio
        .footer__links
          a(href="#")
            +icon('instagram')
          a(href="#")
            +icon('telegram')
        p.footer__text Республика Татарстан, г. Иннополис, ул. Спортивная, д. 104
      p.footer__telegram по всем вопросам telegram: 
        a(href="#") @KE_studio