header.header
  .container
    .header__wrap
      button.header__burger(type="button" aria-label="Открыть меню")
        span
      .header__logo
        +icon('logo')
      .header__menu
        include ../modules/menu
    