section.become-form#become-form
  .container
    .become-form__wrap
      h4.become-form__title Чтобы стать моделью Kazanexpress, пожалуйста заполните данные анкеты
      span.become-form__required Все поля обязательны к заполнению
      form.become-form__form(data-validation)
        .form__block
          .form-group
            label.form-group__label(for="firstname") Имя
            input.form-group__input(type="text" placeholder="Имя" id="firstname" data-name="text")
          .form-group
            label.form-group__label(for="lastname") Фамилия
            input.form-group__input(type="text" placeholder="Фамилия" id="lastname" data-name="text")
          .form-group
            label.form-group__label(for="datepicker") Дата рождения
            input.form-group__input(data-toggle="datepicker" placeholder="Дата рождения" id="datepicker" data-name="text" data-date)
        .form__block
          h5.form__subtitle.become-form__subtitle--params Основные параметры внешности 
          .form-group
            label.form-group__label(for="growth") Рост
            input.form-group__input(type="text" placeholder="Рост" id="growth" data-name="num")
          .form-group
            label.form-group__label.form-group__label--select(for="size") Размер одежды
            include ../../modules/form-select
          .form-group
            label.form-group__label.form-group__label--select(for="shoesize") Размер обуви
            include ../../modules/form-select
          .form-group
            label.form-group__label(for="param-1") Обхват груди
            input.form-group__input(type="text" placeholder="Обхват груди" id="param-1" data-name="num")
          .form-group
            label.form-group__label(for="param-2") Обхват талии
            input.form-group__input(type="text" placeholder="Обхват талии" id="param-2" data-name="num")
          .form-group
            label.form-group__label(for="param-3") Обхват бедер
            input.form-group__input(type="text" placeholder="Обхват бедер" id="param-3" data-name="num")
        .form__block
          h5.form__subtitle.become-form__subtitle--agreement Согласие на фотосессию*
          span.become-form__required.become-form__required--comment *за съемку в категориях устанавливается доплата в размерах 20% и 30% от стоимости за час
          .form-group
            input.form-group__checkbox(type="checkbox" id="checkbox-1")
            label.form-group__label.form-group__label--checkbox.checkbox-label(for="checkbox-1")
              span В белье
              span +20%
          .form-group
            input.form-group__checkbox(type="checkbox" id="checkbox-2")
            label.form-group__label.form-group__label--checkbox.checkbox-label(for="checkbox-2")
              span В купальнике
              span +20%
          .form-group
            input.form-group__checkbox(type="checkbox" id="checkbox-3")
            label.form-group__label.form-group__label--checkbox.checkbox-label(for="checkbox-3")
              span Товары для взрослых
              span +30%
          .form-group
            input.form-group__checkbox(type="checkbox" id="checkbox-4")
            label.form-group__label.form-group__label--checkbox.checkbox-label(for="checkbox-4")
              span Товары для беременных
              span +20%
        .form__block
          .form-group
            label.form-group__label(for="phone") Номер телефона
            input.form-group__input(data-phone type="text" placeholder="+7 (___) ___ __ __" id="phone" data-name="phone")
          .form-group
            label.form-group__label(for="instagram") Аккаунт Instagram 
            input.form-group__input(type="text" placeholder="@instagram" id="instagram" data-name="text")
        button.btn.btn--dark.become-form__btn(type="submit")
          span Отправить анкету
        .become-form__agreement.form-group
          input.form-group__checkbox(type="checkbox" id="checkbox-5" checked disabled)
          label.form-group__label.form-group__label--checkbox.checkbox-label(for="checkbox-5") Согласие на обработку персональных данных
