section.become-hero(style="background-image: url('app/img/content/become.jpg')")
  .container
    .become-hero__wrap
      h1.page-title.page-title--white.become-hero__title Стань лицом бренда
      p.become-hero__text Модели KazanExpress участвуют в съемках товаров для будущих крупных российских и международных брендов
      button.become-hero__btn.btn.btn--white(type="buttton") Заполнить анкету