section.become-info
  .container
    h3.title-h3.become-info__title Сотрудничество с нами - это возможность стать лицом международной компании. 
    .become-info__wrap
      p.become-info__text Ежедневно мы делаем тысячи снимков, которые видят десятки миллионов людей по всей стране. Уникальная система выбора модели и презентации обеспечит огромный опыт в сфере фото- и видеосъемок
      p.become-info__accent Стань лицом свежих брендов и будущих лидеров рынка - с командой профессионалов студии KazanExpress!